<div class="to-do">
  <span class="header">
    <h3 class="title">{{title}}</h3>
    <span class="close-button">X</span>
  </span>
  <p class="details">{{details}}</p>
</div>

<style>
  .to-do {
    border: 1px solid black;
    border-radius: 25px;
    margin: 0.5rem 0;
    padding: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .header * {
    margin: 0 0.5rem;
  }

  .title {
    margin: 0;
    display: inline-block;
  }

  .close-button {
    cursor: pointer;
  }
</style>
